{% extends "network/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'network/profile.js' %}"></script>   
{% endblock %}

{% block body %}
    <div id="profile-page" class="pages">
        <h4 id="poster-username">{{ username }}</h4>
        <b>Followers: </b><span id="follower-count"></span><br>
        <b>Following: </b><span id="following-count"></span>
        <form id="follow-form" style="width: 90px;">
            {% csrf_token %}
            <input type="hidden" id="follow_value">
            <submit class="btn btn-outline-primary" id="follow-button" style="display: none;"></button>
        </form>
        <div id="posts"></div>
    </div>
{% endblock %}