.post-div{
    border: 1px groove rgb(206, 206, 206);
    border-radius: 10px;
    padding: 15px;
    margin: 20px;
}

#selected{
    padding: 4px;
    border: black solid 2px;
    border-radius: 10px;
}

#profile-page{
    padding: 20px;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav{
    width: 100%;
}

.body{
    width: 100%;
}

.pagination{
    display: flex;
    justify-content: center;
}

#nav{
    display: none;
}

button{
    display: flex;
    flex-direction: row;
    align-items: center;
}